<form v-on:submit.prevent="guardarAlquiler" v-on:reset="limpiarAlquiler" id="frm-alquiler">
    <div class="card text-white bg-success mb-3" style="max-width: 24rem;">
        <div class="card-header">
            MANTENIMIENTO DE HABITAT

            <button type="button" id="btn-close-alquiler" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-body">
            <div class="row row-cols-1 p-2">
                <div class="row-col">
                    <div class="col">
                        ID ANIMAL:
                    </div>
                    <div class="col">
                        <input type="text" v-model="alquiler.idCliente" placeholder="ID de Animal" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 p-2">
                <div class="row-col">
                    <div class="col">
                        ID ESPECIE:
                    </div>
                    <div class="col">
                        <input type="text" v-model="alquiler.idPelicula" placeholder="ID de Especie" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 p-2">
                <div class="row-col">
                    <div class="col">
                        NOMBRE DE HABITAT:
                    </div>
                    <div class="col">
                        <input type="text" v-model="alquiler.fechaPrestamo" placeholder="Nombre del Habitat" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 p-2">
                <div class="row-col">
                    <div class="col">
                        DESCRIPCION DE HABITAT:
                    </div>
                    <div class="col">
                        <input type="text" d v-model="alquiler.fechaDevolucion" placeholder="Descripcion de Habitat" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 p-2">
                <div class="row-col">
                    <div class="col">
                        DIRECCION O LUGAR:
                    </div>
                    <div class="col">
                        <input type="text" v-model="alquiler.valor" placeholder="Direccion o lugar" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 p-2">
                <div class="row-col text-center">
                    <div class="col">
                        <input id="btnGuardarAlquiler" type="submit" class="btn btn-primary text-white" value="Guardar">
                        <input type="reset" class="btn btn-danger text-white" value="Limpiar">
                        <input type="button" class="btn btn-warning mostrar-buscar-alquiler text-white" data-modulo="alquiler" data-form="buscar-alquiler" value="Buscar" >
                    </div>
                </div>
                <div class="row row-cols-1 p-2">
                    <div class="row-col text-center">
                        <div class="alert alert-sucess" role="alert">
                            {{ alquiler.msg }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script src="public/vistas/alquiler/alquiler.js"></script>