
.modulos{ 
    position: absolute;
}

.v-select{
    background: white !important;
}

.navbar-custom {
    background-color: #ffffff;
}
.bg-company-red {
    background-color: #1e7e34 !important;
}


.bg-success {
	background-color: #1e7e34 !important;
}

#fondo {
   background:
        /* top, transparent black, faked with gradient */ 
        linear-gradient(
          rgba(0, 0, 0, 0.9), 
          rgba(0, 0, 0, 0.9)
        ),
        /* bottom, image */
        url(../../images/fondo.jpg);
    }